doctype html
html
  head
    meta(charset='utf-8')
    meta(content='initial-scale=1, shrink-to-fit=no, width=device-width' name='viewport')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/material.min.css')

    script(src='/dist/jquery.min.js')
    script(src='/dist/umd/popper.min.js')
    script(src='/dist/js/tether.min.js')
    script(src='/dist/js/bootstrap.min.js')
    script(src='/material.min.js')
  body
    block content